matplotlib==3.5.1
moviepy==1.0.3
networkx==2.8
numpy==1.22.3
opencv-python==4.5.5.64
scipy==1.8.0
torch==1.11.0+cu113
torchaudio==0.11.0+cu113
torchinfo==1.6.5
torchvision==0.12.0+cu113
tqdm==4.64.0

